In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("athlete_events.csv")

data.head()

missing_count = data.isnull().sum()
print(data['Medal'].dtype)

data = data.dropna(subset = ['Medal'])
data.shape

object

(39783, 15)

In [3]:
vanhin = np.max(data['Age'])
nuorin = np.min(data['Age'])
print("vanhin ", vanhin, "nuorin ", nuorin)
ukko = data.loc[(data['Sex'] == 'F')]
print(ukko)

vanhin  66.0 nuorin  13.0
           ID            Name Sex   Age  Height  Weight         Team  NOC  \
173379  87135  Louis Noverraz   M  66.0   179.0    78.0  Switzerland  SUI

              Games  Year  Season         City    Sport  \
173379  1968 Summer  1968  Summer  Mexico City  Sailing

                           Event   Medal
173379  Sailing Mixed 5.5 metres  Silver

In [12]:
#vanhin ja nuorimmat mitalistit

ukko = data.loc[(data['Age'] == 97)]
nouri = data.loc[(data['Age'] == 10)]
print(ukko)
#print(nouri)

            ID                    Name Sex   Age  Height  Weight  \
257054  128719  John Quincy Adams Ward   M  97.0     NaN     NaN

                 Team  NOC        Games  Year  Season       City  \
257054  United States  USA  1928 Summer  1928  Summer  Amsterdam

                   Sport                                        Event Medal
257054  Art Competitions  Art Competitions Mixed Sculpturing, Statues   NaN

In [14]:
koydenveto = data.loc[(data['Sport'] == 'Tug-Of-War')]
print(koydenveto)

            ID                      Name Sex   Age  Height  Weight  \
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
5305      3003  Albrekt Persson Almqvist   M  27.0     NaN     NaN
6935      3891   Arvid Leander Andersson   M  30.0     NaN     NaN
9536      5230             Rudolf Arnold   M   NaN     NaN     NaN
9543      5235           Adriano Arnoldo   M   NaN   192.0    95.0
...        ...                       ...  ..   ...     ...     ...
262163  131176            Josef Wittmann   M   NaN     NaN     NaN
262552  131369  Anders Hjalmar Wollgarth   M  29.0     NaN     NaN
262832  131512       James Henry Woodget   M  33.0     NaN     NaN
263607  131905   Gustave Marius L. Wuyts   M  17.0     NaN     NaN
270429  135268              Amedeo Zotti   M   NaN     NaN     NaN

                                         Team  NOC        Games  Year  Season  \
3                              Denmark/Sweden  DEN  1900 Summer  1900  Summer
5305                                   Sweden  SWE  1908 Summer  1908  Summer
6935                                   Sweden  SWE  1912 Summer  1912  Summer
9536                                  Austria  AUT  1906 Summer  1906  Summer
9543                                    Italy  ITA  1920 Summer  1920  Summer
...                                       ...  ...          ...   ...     ...
262163                                Austria  AUT  1906 Summer  1906  Summer
262552                                 Sweden  SWE  1908 Summer  1908  Summer
262832  K Division Metropolitan Police Team-3  GBR  1908 Summer  1908  Summer
263607                                Belgium  BEL  1920 Summer  1920  Summer
270429                                  Italy  ITA  1920 Summer  1920  Summer

             City       Sport                        Event   Medal
3           Paris  Tug-Of-War  Tug-Of-War Men's Tug-Of-War    Gold
5305       London  Tug-Of-War  Tug-Of-War Men's Tug-Of-War     NaN
6935    Stockholm  Tug-Of-War  Tug-Of-War Men's Tug-Of-War    Gold
9536       Athina  Tug-Of-War  Tug-Of-War Men's Tug-Of-War     NaN
9543    Antwerpen  Tug-Of-War  Tug-Of-War Men's Tug-Of-War     NaN
...           ...         ...                          ...     ...
262163     Athina  Tug-Of-War  Tug-Of-War Men's Tug-Of-War     NaN
262552     London  Tug-Of-War  Tug-Of-War Men's Tug-Of-War     NaN
262832     London  Tug-Of-War  Tug-Of-War Men's Tug-Of-War  Bronze
263607  Antwerpen  Tug-Of-War  Tug-Of-War Men's Tug-Of-War  Bronze
270429  Antwerpen  Tug-Of-War  Tug-Of-War Men's Tug-Of-War     NaN

[170 rows x 15 columns]

In [11]:
average = np.median(data['Age'])
print("median age ", average)

median age  25.0

In [12]:
std_deviation = np.std(data['Age'], ddof = 1)
print("standarT deviation ", std_deviation)

standart deviation  5.0496840882262415

In [13]:
variance = np.var(data['Age'])
print("variance ", std_deviation)

variance  5.0496840882262415