In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("athlete_events.csv")

data.head()

missing_count = data.isnull().sum()
#print(data['Age'].dtype)

#data = data.dropna(axis = 0, how = 'any')
data.shape

(271116, 15)

In [7]:
vanhin = np.max(data['Age'])
nuorin = np.min(data['Age'])
print("vanhin ", vanhin, "nuorin ", nuorin)
ukko = data.loc[(data['Sex'] == 'F')]
print(ukko)

vanhin  97.0 nuorin  10.0
            ID                                 Name Sex   Age  Height  Weight  \
4            5             Christine Jacoba Aaftink   F  21.0   185.0    82.0
5            5             Christine Jacoba Aaftink   F  21.0   185.0    82.0
6            5             Christine Jacoba Aaftink   F  25.0   185.0    82.0
7            5             Christine Jacoba Aaftink   F  25.0   185.0    82.0
8            5             Christine Jacoba Aaftink   F  27.0   185.0    82.0
...        ...                                  ...  ..   ...     ...     ...
271080  135553  Galina Ivanovna Zybina (-Fyodorova)   F  33.0   168.0    80.0
271099  135560                    Stavroula Zygouri   F  36.0   171.0    63.0
271102  135563            Olesya Nikolayevna Zykina   F  19.0   171.0    64.0
271103  135563            Olesya Nikolayevna Zykina   F  23.0   171.0    64.0
271110  135568               Olga Igorevna Zyuzkova   F  33.0   171.0    69.0

                Team  NOC        Games  Year  Season            City  \
4        Netherlands  NED  1988 Winter  1988  Winter         Calgary
5        Netherlands  NED  1988 Winter  1988  Winter         Calgary
6        Netherlands  NED  1992 Winter  1992  Winter     Albertville
7        Netherlands  NED  1992 Winter  1992  Winter     Albertville
8        Netherlands  NED  1994 Winter  1994  Winter     Lillehammer
...              ...  ...          ...   ...     ...             ...
271080  Soviet Union  URS  1964 Summer  1964  Summer           Tokyo
271099        Greece  GRE  2004 Summer  2004  Summer          Athina
271102        Russia  RUS  2000 Summer  2000  Summer          Sydney
271103        Russia  RUS  2004 Summer  2004  Summer          Athina
271110       Belarus  BLR  2016 Summer  2016  Summer  Rio de Janeiro

                Sport                                      Event   Medal
4       Speed Skating           Speed Skating Women's 500 metres     NaN
5       Speed Skating         Speed Skating Women's 1,000 metres     NaN
6       Speed Skating           Speed Skating Women's 500 metres     NaN
7       Speed Skating         Speed Skating Women's 1,000 metres     NaN
8       Speed Skating           Speed Skating Women's 500 metres     NaN
...               ...                                        ...     ...
271080      Athletics                 Athletics Women's Shot Put  Bronze
271099      Wrestling  Wrestling Women's Middleweight, Freestyle     NaN
271102      Athletics     Athletics Women's 4 x 400 metres Relay  Bronze
271103      Athletics     Athletics Women's 4 x 400 metres Relay  Silver
271110     Basketball              Basketball Women's Basketball     NaN

[74522 rows x 15 columns]

In [11]:
average = np.median(data['Age'])
print("median age ", average)

median age  25.0

In [12]:
std_deviation = np.std(data['Age'], ddof = 1)
print("standarT deviation ", std_deviation)

standart deviation  5.0496840882262415

In [13]:
variance = np.var(data['Age'])
print("variance ", std_deviation)

variance  5.0496840882262415